#contact-detail .svg-inline--fa {
  font-size: 60px;
  color: cornflowerblue;
  margin-bottom: 10px;
}
#contact-detail h3 {
  margin: 20px 0;
}
#contact-detail p {
  font-size: 18px;
  margin: 0px;
}

#contact-form input,
#contact-form select {
  width: 100%;
  padding: 20px;
  margin-top: 3px;
  border: 1px solid #ddd;
}
#contact-form select {
  padding: 22.5px;
}
#contact-form textarea {
  width: 97.9%;
  margin: 13px;
}
#contact-form .bordered {
  border: 3px solid #ddd;
  padding: 5rem;
}
#contact-form button {
  text-align: right;
  padding: 8px 50px;
  background: dimgray;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 88.5%;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  #contact-form button {
    margin-left: 55%;
  }
}
