.speching {
  margin: 70px;
}

#news-feed .card h5 {
  font-size: 21px;
  line-height: 22px;
  margin: 20px 0;
  font-weight: 600;
  letter-spacing: -1px;
}
#news-feed .card span {
  font-size: 12px;
  font-weight: 600;
}
#news-feed .card a {
  color: red;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

#service-detail p {
  font-family: "Open Sans";
  padding: 1em 0;
  color: #777;
  line-height: 26px;
  margin-top: 20px;
  font-size: 16px;
}
#service-detail h4 {
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;
}
#service-detail .vertical-menu .selected a {
  background: #1e69b8;
  border-color: #1e69b8;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}
#service-detail .vertical-menu a {
  display: block;
  background: transparent;
  border-bottom: 1px solid #e2e6e7;
  padding: 17px 18px 18px 19px;
  font-family: "Open Sans";
  line-height: 24px;
  color: #777;
  text-decoration: none;
  outline: none;
}

#addProduct h6 {
  background: rebeccapurple;
  color: white;
  padding: 20px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 20px;
  font-family: serif;
}
#addProduct .product-content {
  background-color: #fff;
  padding: 30px 10px;
}
#addProduct input,
#addProduct select {
  width: 100%;
  padding: 10px;
  margin-top: 3px;
}
#addProduct select {
  padding: 12.5px;
}
#addProduct textarea {
  width: 97.3%;
  margin: 13px;
}
#addProduct .image-upload {
  text-align: center;
  border: 1px dashed #9e7f7f;
  padding: 56px 5px;
  margin-top: 13px;
}
#addProduct .image-upload img {
  cursor: pointer;
  width: auto;
  height: 50px;
}
#addProduct .image-upload input {
  display: block;
}

#contact-detail .svg-inline--fa {
  font-size: 60px;
  color: cornflowerblue;
  margin-bottom: 10px;
}
#contact-detail h3 {
  margin: 20px 0;
}
#contact-detail p {
  font-size: 18px;
  margin: 0px;
}

#contact-form input,
#contact-form select {
  width: 100%;
  padding: 20px;
  margin-top: 3px;
  border: 1px solid #ddd;
}
#contact-form select {
  padding: 22.5px;
}
#contact-form textarea {
  width: 97.9%;
  margin: 13px;
}
#contact-form .bordered {
  border: 3px solid #ddd;
  padding: 5rem;
}
#contact-form button {
  text-align: right;
  padding: 8px 50px;
  background: dimgray;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 88.5%;
  margin-top: 20px;
}

#Product-list {
  margin-top: 25px;
}
#Product-list table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#Product-list td,
#Product-list th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
#Product-list tr:nth-child(even) {
  background-color: #dddddd;
}
#Product-list img {
  width: 313px;
}

#product-detail .active {
  color: red;
  font-weight: bold;
}
#product-detail p {
  font-size: 18px;
}
#product-detail #reviews h4 {
  color: rgba(0, 0, 0, 0.877);
}
#product-detail #reviews .image {
  width: 20%;
  padding: 30px;
}
#product-detail #reviews .image img {
  border-radius: 50%;
}
#product-detail #reviews .content {
  width: 80%;
}
#product-detail #reviews .add-review {
  background: rgb(240, 236, 236);
  padding: 20px;
}
#product-detail #reviews .add-review textarea,
#product-detail #reviews .add-review input {
  width: 100%;
  margin: 15px 0;
  padding: 10px;
}

#whyChooseUs {
  background: #071c1f;
}
#whyChooseUs .item {
  color: white;
}
#whyChooseUs p {
  font-size: 18px;
}

#history .nav {
  position: relative;
}
#history .nav::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #ddd;
  z-index: -1;
}
#history .nav-item {
  border: 1px solid #ddd;
  padding: 20px 50px;
  background: white;
  color: black;
  font-size: 20px;
  z-index: 1;
  cursor: pointer;
}
#history .active {
  background: red;
  color: white;
}
#history h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 25px;
}
#history .lead {
  padding-left: 25px;
  border-left: 4px solid #665e5e;
}
#history p {
  font-size: 18px;
}
#history img {
  height: auto;
  width: 500px;
}

#news-detail {
  padding: 50px 0;
}
#news-detail .news-content {
  border: 1px solid #ededed;
  padding: 50px;
}
#news-detail .news-content .catagory-btn {
  width: 100px;
  background: rgba(255, 75, 43, 0.8509803922);
  color: white;
  text-align: center;
  padding: 6px;
}
#news-detail .news-content .title {
  font-weight: 700;
  line-height: 30px;
  margin: 20px 0;
}
#news-detail .about-me {
  display: flex;
  align-items: center;
  justify-content: center;
}
#news-detail .about-me li {
  margin: 8px;
}
#news-detail .about-me img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 20px;
}
#news-detail .lead {
  font-size: 1.1rem;
  font-weight: 400;
  text-align: justify;
}
#news-detail .image {
  width: 47%;
  margin: 10px;
}
#news-detail .images {
  width: 30%;
  margin-right: 10px;
}
#news-detail .profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
#news-detail .catagory ul li {
  list-style: none;
  margin-top: 5px;
}
#news-detail .catagory ul li a:hover {
  background: #e53e29;
}
#news-detail .catagory ul li a {
  display: block;
  font-size: 14px;
  font-weight: 700;
  background: #071c1f;
  color: white;
  padding: 20px 10px 20px 30px;
  text-decoration: none;
}
#news-detail .catagory ul li a span {
  background: black;
  color: white;
  position: relative;
  top: -11px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: all 0.3s ease 0s;
  float: right;
}

#users table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#users table tr:nth-child(even) {
  background-color: #f5eeee;
  border: 1px solid red;
}
#users table td, #users table th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

#checkOut input {
  width: 100%;
  padding: 15px;
  margin: 10px;
}/*# sourceMappingURL=main.css.map */