#makeAdmin {
  position: absolute;
  top: 250px;
  left: 45%;
  transform: translate(-50%, -50%);
}

#role {
  height: 55px;
  background: gray;
  color: white;
}

#makeAdmin .submit-button {
  height: 55px;
  color: white;
  background: rebeccapurple;
}
